![This is an image](Quant-Trading.jpg)

In [1]:
import warnings
warnings.filterwarnings('ignore')

from datetime import datetime
import numpy as np
import pandas as pd
from scipy.stats import norm

In [2]:
#IMPORT EQUITY PRICES
df = pd.read_csv('NFLX.csv',encoding='UTF-8')   #IN THIS EXAMPLE WE USE NETFLIX STOCK

In [3]:
#CALCULATE DAILY RETURNS
df['daily_return'] = df['Close'][1:].values/ df['Close'][:-1]-1
df['runs'] = "X"
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return,runs
0,2002-05-23,1.156429,1.242857,1.145714,1.196429,104790000,0,0.0,0.011343,X
1,2002-05-24,1.214286,1.225000,1.197143,1.210000,11104800,0,0.0,-0.043684,X
2,2002-05-28,1.213571,1.232143,1.157143,1.157143,6609400,0,0.0,-0.046297,X
3,2002-05-29,1.164286,1.164286,1.085714,1.103571,6757800,0,0.0,-0.029125,X
4,2002-05-30,1.107857,1.107857,1.071429,1.071429,10154200,0,0.0,0.004667,X
...,...,...,...,...,...,...,...,...,...,...
5008,2022-04-13,343.920013,352.000000,341.160004,350.429993,3231000,0,0.0,-0.026539,X
5009,2022-04-14,350.950012,352.000000,339.859985,341.130005,4338100,0,0.0,-0.009586,X
5010,2022-04-18,340.000000,342.359985,331.619995,337.859985,5105000,0,0.0,0.031818,X
5011,2022-04-19,333.220001,351.679993,333.220001,348.609985,20906900,0,0.0,-0.351166,X
5012,2022-04-20,245.199997,248.449997,212.509995,226.190002,132759913,0,0.0,NaN,X

In [4]:
#THIS IS A SCRIPT TO CALCULATE POSITIVE AND NEGATIVE RUNS
if np.sign(df['daily_return'].iloc[0]) == 1:
    df['runs'].iloc[0] = "P1"
    positive_run = 1
    negative_run = 0
    positive_returns = 1
    negative_returns = 0
    
else:
    df['runs'].iloc[0] = "N1"
    positive_run = 0
    negative_run = 1
    positive_returns = 0
    negative_returns = 1


for i in range(0,df.shape[0]-1):
    
    if np.sign(df['daily_return'].iloc[i+1]) == 1:
        positive_returns = positive_returns + 1
        
        if df['runs'].iloc[i][:1] == "P":
            df['runs'].iloc[i+1] = "P" + str(positive_run)
        else:
            positive_run = positive_run + 1
            df['runs'].iloc[i+1] = "P" + str(positive_run)
        
    else:
    
        negative_returns = negative_returns + 1
        
        if df['runs'].iloc[i][:1] == "N":
            df['runs'].iloc[i+1] = "N" + str(negative_run)
        else:
            negative_run = negative_run + 1
            df['runs'].iloc[i+1] = "N" + str(negative_run)
        
print("Positive returns P = " + str(positive_returns))
print("Negative returns N = " + str(negative_returns))
print("Runs U = " + str(positive_run + negative_run))

Positive returns P = 2529
Negative returns N = 2484
Runs U = 2562

In [5]:
#DATAFRAME FOR VISUAL INSPECTION
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return,runs
0,2002-05-23,1.156429,1.242857,1.145714,1.196429,104790000,0,0.0,0.011343,P1
1,2002-05-24,1.214286,1.225000,1.197143,1.210000,11104800,0,0.0,-0.043684,N1
2,2002-05-28,1.213571,1.232143,1.157143,1.157143,6609400,0,0.0,-0.046297,N1
3,2002-05-29,1.164286,1.164286,1.085714,1.103571,6757800,0,0.0,-0.029125,N1
4,2002-05-30,1.107857,1.107857,1.071429,1.071429,10154200,0,0.0,0.004667,P2
...,...,...,...,...,...,...,...,...,...,...
5008,2022-04-13,343.920013,352.000000,341.160004,350.429993,3231000,0,0.0,-0.026539,N1280
5009,2022-04-14,350.950012,352.000000,339.859985,341.130005,4338100,0,0.0,-0.009586,N1280
5010,2022-04-18,340.000000,342.359985,331.619995,337.859985,5105000,0,0.0,0.031818,P1281
5011,2022-04-19,333.220001,351.679993,333.220001,348.609985,20906900,0,0.0,-0.351166,N1281
5012,2022-04-20,245.199997,248.449997,212.509995,226.190002,132759913,0,0.0,NaN,N1281

In [6]:
x = (2*positive_returns*negative_returns/(positive_returns+negative_returns))+1
s = np.sqrt((2*positive_returns*negative_returns*(2*positive_returns*negative_returns-(positive_returns+negative_returns)))/((positive_returns+negative_returns)**2*((positive_returns+negative_returns)-1)))
u = positive_run + negative_run
Z = (u - x - 0.5)/ s
ABSZ = np.abs(Z)

In [7]:
alfa = 0.05
score = norm.ppf(1-alfa/2, )

if ABSZ > score:
    print("We can reject the null hypothesis which states that returns are random")
else:
    print("We can not reject the null hypothesis which states that returns are random")

We can not reject the null hypothesis which states that returns are random